.hiking-guide__sub-heading {
  margin: 0;
  width: 950px;
  font-family: 'Chronicle Display', Times, serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 100px;
  text-transform: capitalize;
  color: #ffffff;
}
