.page__background-image_top-gradient {
  height: 1200px;
  width: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
  z-index: 1;
}
